<p style="color: green"><%= notice %></p>

<h1>Posts</h1>
<div class="ui container">
  <div class="ui one cards">
    <% @posts.each do |post| %>
    <div class="ui card">
        <%= render post %>
        <div class="extra content">
          <p>
            <%= link_to "Show this post", post %>
          </p>
        </div>
    </div>
    <% end %>
  </div>
</div>


<%= link_to '<button class="ui button">New post</button>'.html_safe, new_post_path %>